<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--style-src 'self' 'unsafe-inline' needs evaluation, some conflict with node_modules\electron\dist\resources\electron.asar\renderer\web-view\web-view-impl.js-->
    <meta http-equiv="Content-Security-Policy" content="default-src none; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link type="text/css" rel="stylesheet" href="./css/style.css">
    <link type="text/css" rel="stylesheet" href="./css/titlebar.css">
  </head>

  <div class="copiedBanner" id="copyConfirmBanner">Address Copied to Clipboard</div>
  <body>
    <div class="overlay overlayTalking" id="overlay"></div>
    <div id="outer">
      
      <div class="title-bar" id="titleBar">
        <div class="menu-button-container">
          <div id="openSettingsButton" class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
              <path
                fill="currentColor"
                fillRule="evenodd"
                clipRule="evenodd"
                d="
                M 12.00,5.00
                C 12.00,5.00 12.00,7.00 12.00,7.00
                  12.00,7.00 10.59,7.00 10.57,7.01
                  10.42,7.59 10.17,8.13 9.84,8.61
                  9.84,8.61 10.74,9.51 10.74,9.51
                  10.74,9.51 9.49,10.75 9.49,10.75
                  9.49,10.75 8.59,9.85 8.59,9.85
                  8.11,10.19 7.57,10.44 6.99,10.59
                  6.99,10.59 6.99,12.00 6.99,12.00
                  6.99,12.00 4.99,12.00 4.99,12.00
                  4.99,12.00 4.99,10.58 4.99,10.58
                  4.41,10.43 3.87,10.18 3.39,9.85
                  3.39,9.85 2.49,10.75 2.49,10.75
                  2.49,10.75 1.25,9.50 1.25,9.50
                  1.25,9.50 2.15,8.60 2.15,8.60
                  1.81,8.13 1.56,7.58 1.41,7.00
                  1.41,7.00 0.00,7.00 0.00,7.00
                  0.00,7.00 0.00,5.00 0.00,5.00
                  0.00,5.00 1.41,5.00 1.41,5.00
                  1.56,4.42 1.81,3.88 2.15,3.40
                  2.15,3.40 1.25,2.50 1.25,2.50
                  1.25,2.50 2.50,1.25 2.50,1.25
                  2.50,1.25 3.40,2.15 3.40,2.15
                  3.87,1.81 4.42,1.56 5.00,1.41
                  5.00,1.41 5.00,0.00 5.00,0.00
                  5.00,0.00 7.00,0.00 7.00,0.00
                  7.00,0.00 7.00,1.41 7.00,1.41
                  7.58,1.57 8.12,1.81 8.60,2.15
                  8.60,2.15 9.51,1.25 9.51,1.25
                  9.51,1.25 10.75,2.50 10.75,2.50
                  10.75,2.50 9.85,3.40 9.85,3.40
                  10.19,3.87 10.44,4.42 10.59,5.00
                  10.59,5.00 12.00,5.00 12.00,5.00 Z
                M 6.00,8.00
                C 7.10,8.00 8.00,7.10 8.00,6.00
                  8.00,4.90 7.10,4.00 6.00,4.00
                  4.90,4.00 4.00,4.90 4.00,6.00
                  4.00,7.10 4.90,8.00 6.00,8.00 Z"
              />
            </svg>
          </div>
          <div id="openLogButton" class="menu-button">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
              <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </div>
        </div>
        <div class="app-name-container">
          <div></div>
        </div>
        <div class="window-controls-container">
          <div id="minimize-button" class="minimize-button menu-button">
            <svg width="12" height="12" viewBox="0 0 12 12">
              <rect fill="currentColor" width="10" height="1" x="1" y="6" />
            </svg>
          </div>
          <div id="min-max-button" class="min-max-button menu-button">
            <svg width="12" height="12" viewBox="0 0 12 12">
              <rect fill="none" stroke="currentColor" width="9" height="9" x="1.5" y="1.5" />
            </svg>
          </div>
          <div id="close-button" class="close-button menu-button">
            <svg width="12" height="12" viewBox="0 0 12 12">
              <polygon fill="currentColor" fillRule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1" />
            </svg>
          </div>
        </div>
      </div>
    
      <div id="mainDisplay">
        <!-- https://electronjs.org/docs/tutorial/security#15-disable-the-remote-module -->
        <webview id="discord" enableremotemodule="false" webpreferences="useragent='Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; AS; rv:11.0) like Gecko'" partition="persist:discord" src="https://discord.com/login"></webview>
      
      </div>
    </div>

    <script src="./js/mainRender.js"></script>
    <script src="./js/titlebar.js"></script>
    <script src="./js/helper.js"></script>
  </body>
  
</html>
