<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--style-src 'self' 'unsafe-inline' needs evaluation, some conflict with node_modules\electron\dist\resources\electron.asar\renderer\web-view\web-view-impl.js-->
    <meta http-equiv="Content-Security-Policy" content="default-src none; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link type="text/css" rel="stylesheet" href="./css/logStyle.css">
    <link type="text/css" rel="stylesheet" href="./css/titlebar.css">
  </head>

  <body>

    <div class="title-bar" id="titleBar">
      <div class="app-name-container">
        <div>Log</div>
      </div>
      <div class="window-controls-container">
        <div id="minimize-button" class="minimize-button menu-button">
          <svg width="12" height="12" viewBox="0 0 12 12">
            <rect fill="currentColor" width="10" height="1" x="1" y="6" />
          </svg>
        </div>
        <div id="close-button" class="close-button menu-button">
          <svg width="12" height="12" viewBox="0 0 12 12">
            <polygon fill="currentColor" fillRule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1" />
          </svg>
        </div>
      </div>
    </div>

    <div id="logContainer" class="logContainer">
      <table style="width: 100%;" id="logDisplayTable" class="logTable"></table>
    </div>

    <script src="./js/logRender.js"></script>
    <script src="./js/titlebar.js"></script>
  </body>
</html>

