html, body{
    color: #ffffff;
    font-family: "Hack Nerd Font", Courier, monospace;
    background-color: #202225;
    margin: 0;
    padding: 0;
}

.logContainer {
    height: 360px;
    display: block;
    overflow-x: hidden;
}

.logTable {
    padding: 0px;
    border-collapse: collapse;
    display: block;
}

.logTable td,
.logTable th {
    border: 0px;
    padding: 3px;
    word-wrap: break-word;
}

.logTable th {
    border: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: right;
    color: #ffffff;
}
