html, body{
    color: #ffffff;
    font-family: "Hack Nerd Font", Courier, monospace;
    background-color: #2f3136;
    margin: 0px;
    padding: 0px;
}


td:last-child {
  padding-left: 16px;
}

.settingsContainer {
    color: #ffffff;
    margin: 16px;
}

.niceButton {
    color: #ffffff;
    background-color: #000000;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

input {
  font-family: "Hack Nerd Font", Courier, monospace;
  display: inline-block;
  color: #dcddde;
  background-color: #36393f;
  border: 1px solid #1d1e22;
  border-radius: 4px;
  padding: 8px;
  outline: none;
}

