.title-bar {
    -webkit-app-region: drag;
    margin: 0;
    display: flex;
    background-color: #202225;
    color: #ffffff;
}

.app-name-container {
    flex: 1;
    color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.menu-button-container,
.window-controls-container {
    color: #dcddde;
    display: flex;
}

.menu-button {
    -webkit-app-region: no-drag;
    width: 28px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #677bc4;
    color: #ffffff;
}

.menu-button.close-button:hover {
    background-color: #f04747;
    color: #ffffff;
}

.menu-button > svg {
  width: 12px;
  height: 12px;
}

